.idea

# Certificates folder
certs/*

# DH
dhparam/*

# HTML directory for deafults
html/*

# Nginx config directory with deafult.conf
/config/nginx_common/*
!/config/nginx_common/additional.conf

# Nginx config directory with your configs
/config/nginx_hosts/*
!/config/nginx_hosts/default
!/config/nginx_hosts/default_location
